@{
    ViewData["Title"] = "Empleados";
}
@model IEnumerable<Inventario.Models.Empleado>


<h1>Empleados</h1>
<div class="mb-3">
    <a class="btn btn-primary nav-link text-dark" asp-area="" asp-controller="Empleado" asp-action="CrearEmplea">Agregar Empleado</a>
</div>
<table class="table">

    <thead>
        <tr>
            <td scope="Col">Id</td>
            <td scope="Col">Nombre Completo</td>
            <td scope="Col">Cargo</td>
            <td scope="Col">Departamento</td>
            <td scope="Col">Fecha de Ingreso</td>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        @foreach (var empleado in Model)
        {
            <tr>
                <th scope="row">@empleado.Id</th>
                <td>@empleado.NombreCompleto</td>
                <td>@empleado.Cargo</td>
                <td>@empleado.Departamento</td>
                <td>@empleado.FechaIngreso</td>
            </tr>
        }
    </tbody>
</table>
